form{
    display: flex;
}

.titulo{
    padding-top: 150px;
}

.buttons{
    padding-top: 50px;
    margin-right: 100px;
}


.principal{
    width: 1200px;
    padding-left: 10px;
    padding-top: 50px;
    margin-left: 350px;
    border: PowderBlue 3px solid;
    border-radius: 0.5rem;
}

.ingresos{
    margin-right: 200px;
}

